form.logging {

	margin-top: 40px;

	// padding: 20px;
	// background: rgba(255, 255, 255, .8);
	// box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	button {
		margin-top: 10px;
	}

	.text-field {
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -15px;
	}

}

.logging-notes {
	margin-top: 50px;
	p {
		margin-bottom: 5px;
	}
}